.banner {
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center 16%;
  // style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.22) 0%, rgba(0, 36, 61, 0.24) 50%), url('https:////c2.staticflickr.com/8/7339/8729629120_e9ec908ac9_b.jpg');
  // background-attachment: fixed; //this will let the background image return on other parts of the page.

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Vollkorn', serif;
  }
  h5 {
    margin-bottom: 18px;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
    display: inline;
    padding-right: 50px;
    transition: color 300ms;
    width: 950px;
  }
}

.banner p:hover {
  color: #680b0b;
}

.main-nav {
  li {
    display: inline;
  }
}

.backstretch {
  left: auto !important;
  //autumn:
  // background-image: url(https:////c2.staticflickr.com/8/7339/8729629120_e9ec908ac9_b.jpg);
  // variant sundown:
  // background-image: url("http://i68.tinypic.com/34o55cx.jpg");
  //summer:
  background-image: url("http://i65.tinypic.com/izrmoj.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
}
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.backstretch:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.wrapper-img{
  height: 20vh;
}

.wrapper-img {
  height: 100%;
}
