.wrapper {
  background-color: #e0b286;
}

.box {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  // box-shadow: 0px 0px 0px 3px rgba(219,210,219,0.35);
  // box-shadow: 0px 0px 0px 3px rgba(219,210,219,0.35);
  // box-shadow: 0px 0px 0px 3px rgba(219,210,219,0.35);
  // background-color: white;

  p {
    font-size: 12px;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 20px
  }
  h3 {
    font-family: 'Vollkorn', serif;
  }
}

.box span {
  color: grey;
}

.description {
  // width: 400px;
  text-align: center;
  padding-right: 20px;
}


.wrapper-work {
  background-color: black;
}

.line {
  border: solid 1px;
  width: 100px;
}

.h4-padding-left {
  padding-left: 27px;
}
