.wrapper-black {
  background-color: black;
}


.wrapper {
  background-attachment: fixed;
  background-size: cover;
  background-position: center 16%;
}


.card {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  height: 200px;
  width: 100%;

}


.card-skills {
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;


  h2 {
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
}

.fa-ul {
  display: inline-block;
}

.projects {
  color: white;
}

.title {
 color: #680b0b;
}

.card-pub{
  background-size: cover !important;
  // color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  height: 200px;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.22) 0%, rgba(0, 36, 61, 0.24) 50%), url("https://www.noord-holland.nl/upload/6daf0c60-c1fa-4cd8-8d6c-d78e8f5091ff_natuur-Ilperveld%20460.jpg");
}
