.card {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  height: 200px;
  width: 100%;

}


.card-skills {
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;


  h2 {
    font-size: 22px;
  }
  p {
    font-size: 15px;
  }
}

.fa-ul {
  display: inline-block;
}

.projects {
  color: white;
}

.title {
 color: white;
}

.card-pub{
  background-size: cover !important;
  // color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  box-shadow: 0px 0px 0px 2px rgba(219,210,219,0.75);
  height: 200px;
  width: 100%;
}

