/* Your tabs CSS code here */
.tabs {
  display: flex;
  background-color: #020e0f;
  border-radius: 11px;
  text-align: center;
}

.tab {
  flex: 0 0 25%;
}


.tab:hover h3,
.tab:hover p {
  color: black;
  text-decoration: none;
}

.tab:hover {
  background-color: white;
  cursor: pointer;
}

.tab.active{
  background-color: white;
}
.tab.active h3,
.tab.active p {
  color: black;
}

.tab h3,
.tab p {
  color: white;
}


.tab:first-child {
  border-radius: 10px 0 0 0; /* clockwise starting top-left*/
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
