<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul>
          <p class="footer-text">vivekkoripalli@2016</p>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6">
        <ul>
          <p class="footer-text">Contact</p>
          <p>koripalli.vivek@gmail.com</p>
          <p>Luisental 29/2250, Bremen, Germany </p>
        </ul>
      </div>
    </div>

    <div class="footer-spacing"></div>
      <p id="follow-text">Follow Me On</p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">

      </div>

      <div class="col-xs-12 col-sm-4">
      <ul class="list-inline text-center">
          <li><a href="https://de.linkedin.com/in/raghava-vivek-koripalli-83643a47" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://github.com/vivekkoripalli" target="_blank"><i class="fa fa-github-square"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4">
      </div>
    </div>
  </div>
</div>
