 <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <p>CC0 2016 Melchior Rutte. All rights reserved</p>
        <ul class="list-inline">
          <li><a href="https://nl.linkedin.com/in/melchior-rutte-96810351"><i class="fa fa-linkedin text-center"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 text-right">
        <p>Feel free to contact me at:</p>
        <p>melchior.rutte@gmail.com</p>
      </div>
    </div>
  </div>
</div>
