---
title: Melchior Rutte
---

<div class="banner">
  <div class="row">
    <div class="col-xs-12">
      <h1>Melchior Rutte</h1>
      <div class="row">

        <div class="col-sm-12">

          <div class="main-nav">
            <div class="nav hidden-xs">
              <ul>
                <li><a class="scroll-down" href="#about"><p>About</p></a></li>
                <li><a class="scroll-down" href="#resume"><p>Resumé</p></a></li>
                <li><a class="scroll-down" href="#skills"><p>Skills</p></a></li>
                <li><a class="scroll-down" href="#projects"><p>Projects</p></a></li>
                <li><a class="scroll-down" href="#publications"><p>Publications</p></a></li>
              </ul>
            </div>

            <!-- Dropdown appearing on mobile only -->
            <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
              <div class="dropdown">
                <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><a href="#about">About</a></li>
                  <li><a href="#resume">Resumé</a></li>
                  <li><a href="#skills">Skills</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#publications">Publications</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 566px; width: 1288px; z-index: -999999; position: fixed;" class="backstretch">
  <img src="https:////c2.staticflickr.com/8/7339/8729629120_e9ec908ac9_b.jpg" style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 1288px; height: 853.3px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -143.65px;"></div>


  <!-- Avatar and about -->
  <div class="profile-header-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="profile-header-about text-center">
            <a name="about"></a>
            <h1>About</h1>
          </div>
          <div class="profile">

            <div class="profile-header-infos">
              <div class="row">
                <div class="col-sm-4">

                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/088/20d/3c60c63.jpg" alt="" class="avatar">
                </div>
                <div class="col-sm-6">

                  <p>
                    At the moment I am following a bootcamp at <a href= "https://www.lewagon.com/">Le Wagon</a> in Amsterdam, to become a full-stack web application developer.

                    In November 2014 I graduated for the Master Biology at Radboud University, Nijmegen. During these two years I finished to internships with succes and I followed different ecological courses. I gained knowledge regarding biogeochemical processes in soil and water and the possibilities to restore or manage nature areas, rivers/floodplains.

                  </p>
                  <a href="https://github.com/FuturesBSSA">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-img padded">
    <div class="container">
    </div>
  </div>


  <!-- Skills -->
  <div class="wrapper-blackish padded">
    <div class="container">
      <div class="text-center">
        <a name="skills"></a>
        <h3 class="title" >Developer Skills</h3>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="card-skills">
            <h4 class="text-center">Skills</h4>

            <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="text-center">
                  <i class="icon-ruby" style="font-size: 30px; padding: 10px;"></i>
                </div>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i>Ruby</li>
                  <li><i class="fa-li fa fa-check"></i>RoR</li>
                  <li><i class="fa-li fa fa-check"></i>SQL</li>
                  <li><i class="fa-li fa fa-check"></i>RESTfulAPI</li>
                </ul>
              </div>

              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="text-center">
                  <i class="icon-html" style="font-size: 30px; padding: 10px;"></i>
                </div>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i>HTML5</li>
                  <li><i class="fa-li fa fa-check"></i>CSS3</li>
                  <li><i class="fa-li fa fa-check"></i>SCSS</li>
                  <li><i class="fa-li fa fa-check"></i>Bootstrap</li>
                </ul>
              </div>

              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="text-center">
                  <i class="icon-javascript-alt" style="font-size: 30px; padding: 10px;"></i>
                </div>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i>Javascript</li>
                  <li><i class="fa-li fa fa-check"></i>Jquery</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="card-skills text-center">
            <h4>Tools</h4>
            <div class="text-center">
              <i class="fa fa-cogs" style="font-size: 30px; padding: 10px"></i>
            </div>
            <ul class="fa-ul text-left">
              <li><i class="fa-li fa fa-check"></i>Sublime text</li>
              <li><i class="fa-li fa fa-check"></i>Command line</li>
              <li><i class="fa-li fa fa-check"></i>Git & Github</li>
              <li><i class="fa-li fa fa-check"></i>Heroku</li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>




  <div class="wrapper-img padded">
    <div class="container">
    </div>
  </div>


  <div class="wrapper-work">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="box work">
            <h3 class= "text-center">
              <i class="fa fa-briefcase"> Work Experience</i>
            </h3>

            <div class="row">
              <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <h4>2015 - 2016</h4>
                <div class="line"></div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <h4>Chauffeur</h4>
                <p>
                  <span>Canisius Whilhemina Ziekenhuis.</span> My job was to transport blood samples from patients to the hospital.
                </p>
              </div>
            </div>

            <div class="row">

              <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <h4>2013 - 2014</h4>
                <div class="line"></div>
              </div>
              <div class="col-xs-12 col-sm-4">

                <h4>Researcher (internship)</h4>
                <p>
                  <span>University of Adelaide, Australia.</span> The objective was to investigate the negative effects of ocean acidification towards the auditory and olfactory behaviour of two fish species. This study was focused on subtropical and temperate Australian fish species, Lates calcarifer (Barramundi) and Argyrosomus japonicus (Mulloway).
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <h4>2012 - 2013</h4>
                <div class="line"></div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <h4>Researcher (internship)</h4>
                <p>
                  <span>Radboud University Nijmegen.</span> I conducted a biogeochemical mesocosm-experiment with the objective to gain insight into the separate effects of inundation and desiccation on the net release of nutrients under summer conditions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Resumé -->
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="profile-header-education text-center">
            <a name="resume"></a>
            <!-- <h1>Resumé</h1> -->
          </div>
          <div class="box education">
           <h3 class= "text-center">
            <i class="fa fa-graduation-cap"> Education</i>
          </h3>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <h4 class="h4-padding-left">2016</h4>
              <div class="line"></div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <h4>Le Wagon</h4>
              <p><span>B. Amsterdam, The Netherlands.</span> Full-Stack Coding Bootcamp in Amsterdam - Ruby on Rails, Javascript, Bootstrap, jQuery, git, GitHub, Heroku.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <h4>2012 - 2014</h4>
              <div class="line"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h4>Master of Science Biology</h4>
              <p><span>Radboud University Nijmegen, The Netherlands.</span> Water & Environment</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">

              <h4>2011 - 2012</h4>
              <div class="line"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h4>Pre-Master Biology</h4>
              <p><span>Radboud University Nijmegen, The Netherlands.</span> Water & Environment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-img padded">
  <div class="container">
  </div>
</div>

<div class="wrapper-black padded">
  <div class="container">
    <div class="projects text-center"><h3>Projects</h3></div>
    <a name="projects"></a>
    <div class="row">
      <% data.projects.each do |owner, project| %>
      <% link_to project.url do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= image_path project.picture %>');">
          <div class="card-description">
            <h2><%= project.name %></h2>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper-img2 padded">
  <div class="container">
    <div class="row">
      <div class="col-12-xs col-sm-4 col-sm-offset-4">
        <div class="text-center">
          <h3 class="title">Publications</h3>
        </div>
        <a name="publications"></a>
        <div class="view view-first">
         <div class="mask">
          <h2>Aquatic Ecology</h2>
          <p>
            The ecological effects of water level fluctuation and phosphate enrichment in mesotrophic peatlands are strongly mediated by soil chemistry
          </p>
          <a href="http://www.sciencedirect.com/science/article/pii/S0925857415302160" class="info">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<a href="#0" class="cd-top"></a>

