---
title: Melchior Rutte
---

<div class="banner">
  <div class="row">
    <div class="col-xs-12">
      <h1>Raghava vivek koripalli</h1>
      <div class="summary">
        <h5>Full-stack web developer</h5>
      </div>
    </div>
      <div class="row">

        <div class="col-sm-12">

          <div class="main-nav">
            <div class="nav hidden-xs">
              <ul>
                <li><a class="scroll-down" href="#about"><p>About</p></a></li>
                <li><a class="scroll-down" href="#skills"><p>Skills</p></a></li>
                <li><a class="scroll-down" href="#resume"><p>Resume</p></a></li>
                <li><a class="scroll-down" href="#projects"><p>Projects</p></a></li>
                <!-- <li><a class="scroll-down" href="#publications"><p>Publications</p> --></a></li>
              </ul>
            </div>

            <!-- Dropdown appearing on mobile only -->
            <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
              <div class="dropdown">
                <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><a href="#about">About</a></li>
                  <li><a href="#resume">Resumé</a></li>
                  <li><a href="#skills">Skills</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#publications">Publications</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; z-index: -999999; position: fixed;" class="backstretch">
</div>


<!-- Avatar and about -->
<div class="profile-header-wrapper">
  <div class="container is-small background-black">
    <div class="row">
      <div class="col-xs-12">
        <div class="profile-header-about text-center">
          <a name="about"></a>
          <h3>About</h3>
        </div>
        <div class="profile">

          <div class="profile-header-infos">
            <div class="row">
              <div class="col-sm-4">

                <img src="http://i65.tinypic.com/2itn6zs.jpg" alt="" class="avatar">
              </div>
              <div class="col-sm-6">

                <p>
                  I felt that learning to code to helps to get intereact with the digital world. So threw myself into learning how to code. Recently I finished a full-stack web developer bootcamp at <strong><a href= "https://www.lewagon.com/">Le Wagon</a></strong> in Brussels. Now I am searching for an opportunity to put my developer skills to real use contributing to a team.
                </p>
                <a href="https://github.com/vivekkoripalli" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div class="wrapper">
    <div class="container is-small background-black">
      <div class="text-center">
        <a name="skills"></a>
        <h3 class="title" >Developer Skills</h3>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="card-skills">
            <h4 class="text-center">Full-stack</h4>

            <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="text-center">
                  <i class="icon-ruby" style="font-size: 30px; padding: 10px;"></i>
                </div>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i>Ruby</li>
                  <li><i class="fa-li fa fa-check"></i>RoR</li>
                  <li><i class="fa-li fa fa-check"></i>SQL</li>
                  <li><i class="fa-li fa fa-check"></i>RESTfulAPI</li>
                </ul>
              </div>

              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="text-center">
                  <i class="icon-html" style="font-size: 30px; padding: 10px;"></i>
                </div>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i>HTML5</li>
                  <li><i class="fa-li fa fa-check"></i>CSS3</li>
                  <li><i class="fa-li fa fa-check"></i>SCSS</li>
                  <li><i class="fa-li fa fa-check"></i>Bootstrap</li>
                </ul>
              </div>

              <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="text-center">
                  <i class="icon-javascript-alt" style="font-size: 30px; padding: 10px;"></i>
                </div>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i>Javascript</li>
                  <li><i class="fa-li fa fa-check"></i>Jquery</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="card-skills text-center">
            <h4>Tools</h4>
            <div class="text-center">
              <i class="fa fa-cogs" style="font-size: 30px; padding: 10px"></i>
            </div>
            <ul class="fa-ul text-left">
              <li><i class="fa-li fa fa-check"></i>Sublime text</li>
              <li><i class="fa-li fa fa-check"></i>Command line</li>
              <li><i class="fa-li fa fa-check"></i>Git & Github</li>
              <li><i class="fa-li fa fa-check"></i>Heroku</li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="wrapper">
    <div class="container is-small background-black">
      <h3 class= "text-center">
        <i class="fa fa-briefcase"> The road so far</i>
      </h3>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <div class="box work">



            <div class="row">

              <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <h4>2015 - 2016</h4>
                <div class="line"></div>
              </div>
              <div class="col-xs-12 col-sm-6">

                <h4>Researcher (Master Thesis & internship)</h4>
                <p>
                  <span>Universitätsklinikum Jena, Germany.</span> <br>As a part of internship/Thesis in university klinikum(hospital) jena (center for
                  sepsis control), I have worked with Raman spectrometry increasing the data collection efficiency played following
                 <br> *Developing a Lab View routine for automated
                  measurement for Raman spectrometry.
                  <br>*Application and Programming Languages: Labview, R
                  analytics
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <h4>2014 - 2015</h4>
                <div class="line"></div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <h4>Local Information Manager(volunteer)</h4>
                <p>
                  <span>AIESEC bremen,Germany.</span><br> I worked as local Information Manger  responsible for providing the local committee with all important information. Together with Media Responsible in charge of  editing the internal newsletter and conducting online marketing campaigns. Moreover  responsible for solving all occurring problems with Google mail,Google drive-tools,MyAiesec.net and other technical questions.
                </p>
              </div>
            </div>

              <div class="col-xs-12 col-sm-3 col-sm-offset-2">
                <h4>2014 - 2015</h4>
                <div class="line"></div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <h4>Test Engineer(internship)</h4>
                <p>
                  <span>Varna Technologies,Hyderabad,India.</span><br> Manual testing and GUI testing of an ERP module, bug tracking of this ERP Module with an in-house tool.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Resumé -->
    <div class="container is-small background-black">
     <h3 class= "text-center">
      <i class="fa fa-graduation-cap"> Education</i>
    </h3>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-1">
        <div class="profile-header-education text-center">
          <a name="resume"></a>
        </div>
        <div class="box education">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <h4 class="h4-padding-left">2016</h4>
              <div class="line"></div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <h4>Le Wagon</h4>
              <p><span>Brussels, Belgium.</span> <br>Full-Stack Coding Bootcamp in Amsterdam - Ruby on Rails, Javascript, Bootstrap, jQuery, git, GitHub, Heroku.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <h4>2013 - 2016</h4>
              <div class="line"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Master of science in electronics engineering</h4>
              <p><span>University of applied Sciences Bremen, Germany.</span> Measurement and instrumentation</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">

              <h4>2007 - 2011</h4>
              <div class="line"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Bachelor of Engineering (B.Eng.)</h4>
              <p><span>Jawaharlal Nehru Technological University,Hyderabad, India.</span> <br>Electronics & communication </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <a name="projects"></a>
  <div class="container is-small background-black">

    <div class="projects"><h3 class="text-center">Projects</h3>
      <div class="row">
       <!--  <% data.projects.each do |owner, project| %> -->
        <div class="col-xs-12 col-sm-4">
          <div class="view view-first" style="background-image: url(<%= image_path project.picture %>);">
           <div class="mask">
            <h2><%= project.name %></h2>
            <p>
              <%= project.description %>
            </p>
            <%= link_to "Read more", project.url, class: "info", target: '_blank' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<!-- <div class="wrapper">
  <div class="container is-small background-black">
    <div class="publications">
      <div class="text-center">
        <h3 class="title">Publications</h3>
        <a name="publications"></a>
      </div>
      <div class="row">
        <div class="col-12-xs col-sm-6 col-sm-offset-3">
          <div class="view view-first", style="background-image: url('http://i66.tinypic.com/2s7vo1u.png')">
           <div class="mask">
            <h2>Aquatic Ecology</h2>
            <p>
              Water level fluctuation and phosphate enrichment in mesotrophic peatlands are strongly mediated by soil chemistry
            </p>
            <a href="http://www.sciencedirect.com/science/article/pii/S0925857415302160" class="info" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>

<a href="#0" class="cd-top"></a>

